# ========================
# Java / Spring Boot
# ========================
target/
*.class
*.jar
*.war
*.ear
*.log
.gradle/
build/

# ========================
# Node / React
# ========================
node_modules/
dist/
.cache/

# ========================
# Environment & Secrets
# ========================
.env
.env.*

# ========================
# IDE
# ========================
.idea/
*.iml
*.iws
*.ipr
.vscode/
*.swp
*.swo

# ========================
# OS
# ========================
.DS_Store
Thumbs.db
